[submodule "themes/digio-theme"]
	path = themes/digio-theme
	url = https://github.com/danapixels/digio-theme
[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
